<h1>Customer Profile</h1>

<div class="row-fluid">
  <div class="span3 fm-panel" ng-include="" src=" 'views/info.html' " ng-controller="InfoController"></div>

  <div class="span9 fm-panel fm-restaurant-list">
    <h4>
      <ng-pluralize count="favorites.length"
                    when="{'0'    : 'No favorite restaurants. :-(',
                           'one'  : '1 favorite restaurant!',
                           'other': '{} favorite restaurants!'}">
      </ng-pluralize>
    </h4>

    <table class="table table-hover table-striped">
      <tr>
        <th>Name</th>
      </tr>
      <tr ng-repeat="restaurant in favorites = (filterFavorites())">
        <td>
          <a href="#/menu/{{restaurant.id}}">
            <img class="img-rounded pull-left" ng-src="img/restaurants/{{restaurant.id}}.jpg">
            <b>{{restaurant.name}}</b>
          </a>
          <p>{{restaurant.description}}</p>
        </td>
      </tr>
    </table>
  </div>
</div>